{% extends 'template_home.html' %}

{% block titulo %}
    Agregar Orden
{% endblock %}

{% block contenido %}


    <main>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn waves-effect waves-light #2e7d32 green darken-3" type="submit" name="action" >Agregar <i class="material-icons right">send</i>
                </button>
                <a class="waves-effect waves-light btn #e53935 red darken-1" href="{% url 'ordenes' %}"><i class="material-icons right">clear_all</i>Cancelar</a>
            </form>

        </div>

    </main>

{% endblock %}