{% extends 'template_home.html' %}

{% block titulo %}Balance General{% endblock %}

{% block contenido %}
    <main>
        <div class="container">
            <div class="card-panel">
                <div>
                    <h5 class="center-align">Francés</h5>
                    <h6 class="center-align">Balance General</h6>
                    <h6 class="center-align">Del 1 al 30 de Noviembre</h6>
                </div>
                <br>


                <!--Tabla Activos -->
                <div class="row">
                    <div class="col s5 push-s1">
                        <table class="highlight">
                            <thead>
                            <tr>
                                <th data-field="id">Activos</th>
                                <th data-field="name">Debe</th>
                                <th data-field="price">Haber</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Caja</td>
                                <td>$29,510</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Inventario</td>
                                <td>$1,200</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Seguro</td>
                                <td>$7.00</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--Final tabla Activos -->

                    <!--Tabla Pasivos -->
                    <div class="col s5 push-s1">
                        <table class="highlight">
                            <thead>
                            <tr>
                                <th data-field="id">Pasivos</th>
                                <th data-field="name">Debe</th>
                                <th data-field="price">Haber</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Cuentas Por Pagar</td>
                                <td></td>
                                <td>$13,000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col s5 offset-s6">
                        <table class="highlight">
                            <thead>
                            <tr>
                                <th data-field="id">Patrimonio</th>
                                <th data-field="name">Debe</th>
                                <th data-field="price">Haber</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Inversion Inicial</td>
                                <td></td>
                                <td>$13,000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <!--Fin tabla Pasivos-->

                <div class="row">
                    <div class="col s5 push-s1">
                        <table class="highlight striped">
                            <thead>
                            <tr>
                                <!--<th data-field="id">Total Activos</th>-->
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Total Activos</td>
                                <td>$13,000</td>
                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col s5 push-s1">
                        <table class="highlight striped">
                            <thead>
                            <tr>
                                <!--<th data-field="id">Total Participaciones</th>-->
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Total Participaciones</td>
                                <td></td>
                                <td>$13,000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div> <!--Fin card panel-->
            <a class="waves-effect waves-light btn right #d50000 red accent-4"><i class="material-icons left">picture_as_pdf</i>Exportar</a>

        </div> <!--Fin del container-->
    </main>
{% endblock %}
