{% extends 'template_home.html' %}

{% block titulo %}Estado de Comprobación{% endblock %}

{% block contenido %}
    <main>
        <div class="container">


            <div class="row">
                <div class="input-field col s4">
                    <input type="date" class="datepicker" id="fecha1" required>
                    <label for="fecha1">Fecha de inicio</label>
                </div>

                <div class="input-field col s4">
                    <input type="date" class="datepicker" id="fecha2" required>
                    <label for="fecha2">Fcha de finalizacion</label>
                </div>
                <div class="input-field col s4">
                <a class="waves-effect waves-light btn"><i class="material-icons left">subtitles</i>Crear Informe</a>
                </div>

            </div>






            <div class="card-panel">
                <div>
                    <h5 class="center-align">Francés</h5>
                    <h6 class="center-align">Balance de comprobación</h6>
                    <h6 class="center-align">Del 1 al 31 de Noviembre</h6>
                </div>

                <br>

                <table class="highlight responsive-table">
                    <thead>
                    <tr>
                        <th data-field="id">Cuenta</th>
                        <th data-field="name">Debe</th>
                        <th data-field="price">Haber</th>
                    </tr>
                    </thead>

                    <tbody>
                    {%for cuenta in cuentas%}
                    <tr>
                        <td>{{cuenta.nombre}}</td>
                            {%if cuenta.acreedor%}
                        <td></td>
                        <td>{{cuenta.saldoFinal}}</td> </tr>
                        {%else%}
                        <td>{{cuenta.saldoFinal}}</td>
                        <td></td> 
                        {%endif%}</tr>
                        {%endfor%}
                   
                   

                    <tr class="#bbdefb blue lighten-4">
                        <td> <div class="divider"></div>Total</td>
                        <td><div class="divider"></div>{{totalDebe.totalD}}</td>
                        <td><div class="divider"></div>{{totalHaber.totalH}}</td>
                    </td>
                        <td><div class="divider"></div></td>
                    </tr>
                    </tbody>
                </table>
               



            </div>
            <div>
                <a class="waves-effect waves-light btn right #d50000 red accent-4"><i class="material-icons left">picture_as_pdf</i>Exportar</a>
            </div>




        </div>

    </main>
{% endblock %}
{% block javascrip %}
var total=0;
var total1=0;

$('#activos tbody tr').each(function(){
total+= parseInt($(this).find('td').eq(1).text()||0,10)}
)
    
{% endblock %}
   

