
{% extends 'template_home.html' %}

{% load staticfiles %}

{% block titulo %} Cuentas {% endblock %}

{% block contenido %}



<main>
<div class="container">

<div class="card-action">
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Agregar Cuenta</a>
                    </div>
<table class="striped">
    <a class="waves-effect waves-light btn modal-trigger #2e7d32 green darken-3" href="#modal1">Agregar Cuenta</a>
</div>
<br>
<br>
<h5>1. Activos</h5>
<div class="divider"></div>
    {% if activos %}
<table class="highlight">
	
<thead>

	<tr>
		<th data-field="id">Codigo</th>
		<th data-field="rubro">Rubro</th>
		<th data-field="nombre">Nombre de Cuenta</th>

        <th data-field="debe">Debe</th>
        <th data-field="haber">Haber</th>
        <th data-field="saldoFinal">Saldo Final</th>
    </tr>

        <th data-field="saldo">Debe</th>

	</tr>
</thead>
<tbody>

	{%for activo in activos%}
	<tr>
		<td>{{activo.codigo}}</td>
		<td>{{activo.rubro.nombre}}</td>
		<td>{{activo.nombre}}</td>
        <td>{{activo.debe}}</td>

         <td>{{activo.haber}}</td>
         <td>{{activo.saldoFinal}}</td>
		{%endfor%}




    {%endfor%}
	</tr>
	<tr>
	

</tbody>
</table>
{% else %}
<h6>No hay registros</h6>
{% endif %}
    <br>

    <h5>2. Pasivos</h5>
    <div class="divider"></div>
    <table class="highlight">
    {% if pasivos %}
    <table class="striped centered">

        <thead>

        <tr>
            <th data-field="id">Codigo</th>
            <th data-field="rubro">Rubro</th>
            <th data-field="nombre">Nombre de Cuenta</th>
            <th data-field="debe">Debe</th>
             <th data-field="debe">Haber</th>
             <th data-field="saldoFinal">Saldo Final</th>
            <th data-field="saldo">Haber</th>


        </tr>
        </thead>
        <tbody>

	{%for pasivo in pasivos%}
	<tr>
		<td>{{pasivo.codigo}}</td>
		<td>{{pasivo.rubro.nombre}}</td>
		<td>{{pasivo.nombre}}</td>
         <td>{{pasivo.debe}}</td>
         <td>{{pasivo.haber}}</td>
         <td>{{pasivo.saldoFinal}}</td>
		{%endfor%}

        <td>{{pasivo.haber}}</td>

    {%endfor%}
	</tr>

	<tr>
	
	</tr>
        </tbody>
    </table>
    {% else %}
        <h6>No hay registros</h6>
    {% endif %}
    <br>



    <h5>3. Patrimonio</h5>
    {% if patrimonios %}
    <div class="divider"></div>
    <table class="highlight">
    {% if patrimonios %}
    <table class="striped centered">

        <thead>

        <tr>
            <th data-field="id">Codigo</th>
            <th data-field="rubro">Rubro</th>
            <th data-field="nombre">Nombre de Cuenta</th>
            <th data-field="debe">Debe</th>
             <th data-field="debe">Haber</th>
             <th data-field="saldoFinal">Saldo Final</th>
            <th data-field="saldo">Haber</th>

        </tr>
        </thead>
        <tbody>
	{%for patrimonio in patrimonios%}
	<tr>
		<td>{{patrimonio.codigo}}</td>
		<td>{{patrimonio.rubro.nombre}}</td>
		<td>{{patrimonio.nombre}}</td>
         <td>{{patrimonio.debe}}</td>
         <td>{{patrimonio.haber}}</td>
         <td>{{patrimonio.saldoFinal}}</td>
        <td>{{patrimonio.haber}}</td>
		{%endfor%}
	</tr>
<tr>
	

	</tr>
        </tbody>
    </table>
{% else %}
    <h6>No hay registros</h6>
{% endif %}

    <br>
    <h5>4. Resultado Acreedor</h5>
    <div class="divider"></div>
{% if ResultadosH %}
    <table class="highlight">

        <thead>

        <tr>
            <th data-field="id">Codigo</th>
            <th data-field="rubro">Rubro</th>
            <th data-field="nombre">Nombre de Cuenta</th>

            <th data-field="debe">Debe</th>
             <th data-field="debe">Haber</th>
             <th data-field="saldoFinal">Saldo Final</th>

            <th data-field="saldo">Haber</th>

        </tr>
        </thead>
        <tbody>
	{%for resultadoA in ResultadosH%}
	<tr>
		<td>{{resultadoA.codigo}}</td>
		<td>{{resultadoA.rubro.nombre}}</td>
		<td>{{resultadoA.nombre}}</td>
 <td>{{resultadoA.debe}}</td>
         <td>{{resultadoA.haber}}</td>
         <td>{{resultadoA.saldoFinal}}</td>
      <td>{{resultadoA.haber}}</td>
		{%endfor%}
	</tr>
        </tbody>
    </table>
{% else %}
    <h6>No hay registros</h6>
{% endif %}

	<tr>
	
    <br>
    <h5>5. Resultado Deudor</h5>
    <div class="divider"></div>
    {% if ResultadosD %}

    <table class="highlight">

        <thead>

        <tr>
            <th data-field="id">Codigo</th>
            <th data-field="rubro">Rubro</th>
            <th data-field="nombre">Nombre de Cuenta</th>
          <th data-field="debe">Debe</th>
             <th data-field="debe">Haber</th>
             <th data-field="saldoFinal">Saldo Final</th>
        <th data-field="saldo">Debe</th>

      </tr>
        </thead>
        <tbody>
	{%for resultadoD in ResultadosD%}
	<tr>
		<td>{{resultadoD.codigo}}</td>
		<td>{{resultadoD.rubro.nombre}}</td>
		<td>{{resultadoD.nombre}}</td>
       <td>{{resultadoD.debe}}</td>
         <td>{{resultadoD.haber}}</td>
         <td>{{resultadoD.saldoFinal}}</td>
     <td>{{resultadoD.debe}}</td>
		{%endfor%}
	</tr>
	<tr>
	
	</tr>
        </tbody>
    </table>
    {% else %}
        <h6>No hay registros</h6>
    {% endif %}

    <br>

    <h5>6. Contra Activos</h5>
    <div class="divider"></div>
{% if contraActivos %}
    <table class="striped centered">

        <thead>

        <tr>
            <th data-field="id">Codigo</th>
            <th data-field="rubro">Rubro</th>
            <th data-field="nombre">Nombre de Cuenta</th>
            <th data-field="saldo">Haber</th>

        </tr>
        </thead>
        <tbody>
	{%for contra in contraActivos%}
	<tr>
		<td>{{contra.codigo}}</td>
		<td>{{contra.rubro.nombre}}</td>
		<td>{{contra.nombre}}</td>
        <td>{{contra.haber}}</td>
		{%endfor%}
	</tr>
        </tbody>
    </table>
{% else %}
    <h6>No hay registros</h6>
{% endif %}


</div>
</main>


    <div id="modal1" class="modal" height="100">
        <div class="modal-content" >
            <h4>Crear Cuenta</h4>

</form>
</div>
</div>
</div>
</main>
{% endblock %}
            <form method="POST" action="{%url 'cuenta_nueva'%}" >{%csrf_token%}

                {{cuenta.as_p}}

                <button type="submit" class="save btn btn-default">Guardar cuenta</button>

            </form>
        </div>
    </div>



{% endblock %}