{% extends 'template_home.html' %}

{% load staticfiles %}

{% block titulo %}Empleados{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col m9 offset-m1">
            <ul class="collection">
                <li class="collection-item dismissable"><div>Daniel Alejandro Díaz Chica<a href="#" class="secondary-content"><i class="material-icons">settings</i></a></div></li>
                <li class="collection-item dismissable"><div>Juan José González Murcia<a href="#" class="secondary-content"><i class="material-icons">settings</i></a></div></li>
                <li class="collection-item dismissable"><div>Jorge Otoniel Rodríguez Avalos<a href="#" class="secondary-content"><i class="material-icons">settings</i></a></div></li>
                <li class="collection-item dismissable"><div>Carlos Mata<a href="#" class="secondary-content"><i class="material-icons">settings</i></a></div></li>
                <li class="collection-item dismissable"><div>Luis Alejandro Alas González<a href="#" class="secondary-content"><i class="material-icons">settings</i></a></div></li>
                <li class="collection-item dismissable"><div>Niña Mari XD<a href="#" class="secondary-content"><i class="material-icons">settings</i></a></div></li>
            </ul>
        </div>
    </div>

    <!--Tarjetas -->
    <div class="row">

        <div class="col m3 offset-m1">

            <div class="card">
                <div class="card-image">
                    <img src="{% static 'main/images/Hipster.jpg' %}">
                    <span class="card-title">Agregar Empleado</span>
                </div>
                <div class="card-content">
                    <p>Agregue los empleados</p>
                </div>
                <div class="card-action">
                    <a href="#">Agregar Empleado</a>
                </div>
            </div>
        </div>

        <div class="col m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'main/images/Hipster.jpg' %}">
                    <span class="card-title">Agregar Empleado</span>
                </div>
                <div class="card-content">
                    <p>Agregue los empleados</p>
                </div>
                <div class="card-action">
                    <a href="#">Agregar Empleado</a>
                </div>
            </div>
        </div>

        <div class="col m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'main/images/Hipster.jpg' %}">
                    <span class="card-title">Agregar Empleado</span>
                </div>
                <div class="card-content">
                    <p>Agregue los empleados</p>
                </div>
                <div class="card-action">
                    <a href="#">Agregar Empleado</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}