{% extends 'template_home.html' %}

{% block titulo %}Estado de Capital{% endblock %}

{% block contenido %}
    <main>
        <div class="container">
            <div class="col m12">
                <div class="card-panel" >
                    <div >
                        <h5 class="center-align">Frances</h5>
                        <h6  class="center-align">Estado de Patrimonio</h6>
                        <h6 class="center-align">del 1 al 30 de Noviembre</h6>
                        <br>
                    </div>

                    <div class="row">
                        <div class="col m6">
                            <table  class="highlight">
                                <thead>
                                <tr>
                                    <th data-field="tipo"><ins>Inversiones</ins></th>
                                    <th data-field="debe"><ins>Debe</ins></th>
                                    <th data-field="haber"><ins>Haber</ins></th>
                                </tr>
                                </thead>

                                <tbody>
                                {%for inversion in patrimonioHaber%}
                                <tr>
                                    <td>{{inversion.nombre}}:($)</td>
                                    <td></td>
                                    <td>{{inversion.saldoFinal}}</td>
                                </tr>
                                {%endfor%}
                               
                                </tbody>
                            </table>

                            <table class="striped">
                                <tbody>
                                <tr class="#9e9e9e grey">
                                    <td>Total de Inversiones: ($):</td>
                                    <td></td>
                                    <td id="totalinversion"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- fin de la primera tabla-->

                        <div class="col m6">

                            <table id="desinversiones" class="highlight">
                                <thead>
                                <tr>
                                    <th data-field="tipo"><ins>Desinversiones</ins></th>
                                    <th data-field="debe"><ins>Debe</ins></th>
                                    <th data-field="haber"><ins>Haber</ins></th>
                                </tr>
                               
                                </thead>

                                <tbody>

                                {%for desinversiones in patrimonioDebe%}
                                <tr>
                                    <td>{{desinversiones.nombre}}:($)</td>
                                    <td>{{desinversiones.saldoFinal}}</td>
                                    <td></td>
                                </tr>
                                 {%endfor%}
                                
                                </tbody>

                                <table class="striped">
                                    <tbody>
                                    <tr class="#9e9e9e grey">
                                        <td>Total de Desinversiones ($):</td>
                                        <td id="totaldesinversion"></td>
                                        
                                    </tbody>
                                </table>

                            </table><!-- fin de la segunda tabla-->
                        </div>
                    </div>

                </div>
            </div>
            <a class="waves-effect waves-light btn right #d50000 red accent-4"><i class="material-icons left">picture_as_pdf</i>Exportar</a>
        </div>
    </main>
{% endblock %}

{%block javascript%}
var total=0;
var total1=0;

$('#desinversiones tbody tr').each(function(){
total+= parseInt($(this).find('td').eq(1).text()||0,10)}
)

$('#inversiones tbody tr').each(function(){
total1+= parseInt($(this).find('td').eq(2).text()||0,10)}
)

$("#totalinversion").html(total1);

$("#totaldesinversion").html(total);

{%endblock%}
