{% extends 'template_home.html' %}
{% load staticfiles %}


{% block header %}{% endblock %}

{% block contenido %}
    <main>
    <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
        <div class="container ">
            <h2 class="white-text light">Ha iniciado sesión ¡Bienvenido!</h2>

            <br>
            <div class='row center'> </div>
        </div>
    </div>




    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="center light">Software Contable</h2>
                <div class="divider"></div>

            </div>
            <div class="col s4">

                <center><img src="{% static 'main/images/card7.jpg' %}" ></center>
                <h4 class="center-align">Util</h4>
                <p class="center-align">La información se adecua al propósito de la empresa Francés, por lo tanto es oportuna, veraz y comprobable.</p>

            </div>
            <div class="col s4">

                <center><img src="{% static 'main/images/card6.jpg' %}" ></center>
                <h4 class="center-align">Confiabilidad</h4>
                <p class="center-align">La información financiera de la panadería se acepta, es objetiva y verificable.</p>

            </div>
            <div class="col s4">

                <center><img src="{% static 'main/images/card5.jpg' %}" ></center>
                <h4 class="center-align">Provisionalidad</h4>
                <p class="center-align">La información es para un período determinado, remitida en un lapso de tiempo específico.</p>

            </div>

        </div>
    </div>
    <br>

    </main>
{% endblock %}