{% extends 'template_home.html' %}

{% block titulo %}Libro Diario{% endblock %}

{% block contenido %}
    <main>
        

<div class="card-action">
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Agregar Transaccion</a>
</div>

    <div id="modal1" class="modal" height="100">
    <div class="modal-content" >
    
    
    
    <form action="{%url 'transaccion_nueva'%}" method="POST">{%csrf_token%}

    <h4>Crear Transacción</h4>
    <div class="container">
     {{transaccion.as_p}}
      <input type="date" class="datepicker" id="fecha2" required>
    <table>
    <tr data-field="col s7 push-s5">
    <td >{{movimientos.as_table}}</td>
     </tr></table>
      <button type="submit" href="" class="save btn btn-default">Guardar Transaccion</button> 
        </form>
               


    <br>

   </div>
  </div>
  
</div>
<div class="container">
<form action="{% url 'agregar_movimiento' %}" method="POST" >{%csrf_token%}
                  <h5>Cantidad de movimientos involucrados</h5>
                  <input type="text" name="mov" min="2" value="2" placeholder="Dijite el numero de cuentas a usar" size="10"  required>
                   <button type="submit" href="{% url 'agregar_movimiento' %}" class="save btn btn-default">Agregar Movimientos</button>
    </form>

    <br>
    <br>
    <br>
    

    <div id="modal1" class="modal" height="100">
    <div class="modal-content" >
    </div>
    </div>
</div>
<div class="container">
  <h4>Transacciones del dia</h4>
  <div class="divider"></div>
  {%if transacciones%}
  <table>
    <thead>
      <tr>
        <th data-fiels="empleado">Empleado</th>
        <th data-fiels="monto">Monto</th>
      </tr>
    </thead>
    <tbody>
      {%for transaccion in transacciones%}
      <tr>
        <td>{{transaccion.empleado.nombres}}</td>
        <td>{{transaccion.monto}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

  {%else%}
  {%endif%}

</div>
</main>
{% endblock %}
{%block javascript%}
 $('#fecha2').pickadate({
                selectMonths: true, 
               selectYears: 15, 
               format: 'yyyy-mm-dd'
});
{%endblock%}