{% extends 'template_home.html' %}

{% load staticfiles %}

{% block titulo %}Empleados{% endblock %}

{% block contenido %}
    <main>
        <div class="container">


            <a class="waves-effect waves-light btn #2e7d32 green darken-3"   href="{% url 'agregar_empleado' %}"><i class="material-icons right">add_circle</i>Agregar</a>
            <a class="waves-effect waves-light btn" href="{% url 'planilla' %}"><i class="material-icons right">playlist_add_check</i>Planilla</a>
        <br>
        <br>


            <h5>Lista de Empleados</h5>
            <div class="divider"></div>
            {% if object_list %}
            <table class="striped centered">

                <thead>

                <tr>
                    <th data-field="nombre">Nombre</th>
                    <th data-field="apellidos">Apellidos</th>
                    <th data-field="cargo">Cargo</th>
                    <th data-field="numero">Numero</th>


                </tr>
                </thead>
                <tbody>


                {%for empleado in object_list%}
                    <tr>
                    <td>{{empleado.nombres}}</td>
                    <td>{{empleado.apellidos}}</td>
                    <td>{{empleado.puesto}}</td>
                    <td>{{empleado.telefono}}</td>
                    </tr>
                {%endfor%}



                </tbody>
            </table>
            {% else %}
                <h6>No hay empleados</h6>
            {% endif %}

        </div>

    </main>
{% endblock %}