{% extends 'template_home.html' %}

{% load staticfiles %}

{% block titulo %}Producción{% endblock %}

{% block contenido %}

    <main>
        <div class="container">
            <a class="waves-effect waves-light btn #2e7d32 green darken-3"   href=""><i class="material-icons right">add_circle</i>Agregar</a>
            <br>
            <br>
            <h3>Caja de costos</h3>
            <div class="divider"></div>
            {% if object_list %}
                <table class="striped centered responsive-table">
                    <thead>
                    <tr>
                        <th data-field="numero">No orden</th>
                        <th data-field="MPUsada">MP utilizada</th>
                        <th data-field="IIPP">Inv. Inicial P en P</th>
                        <th data-field="mod">MOD</th>
                        <th data-field="CIF">CIF</th>
                        <th data-field="IFPP">Inv. Final P en P</th>
                        <th data-field="CAT">Costo Art. terminado</th>
                        <th data-field="CAT">Inv. Ini P Terminado</th>
                        <th data-field="CAT">Art. terminados Disp.</th>
                        <th data-field="CAT">Inv. Fin P Terminado</th>
                        <th data-field="CAT">Costo de lo vendido</th>
                    </tr>
                    </thead>
                    <tbody>


                    {%for producto in object_list%}
                        <tr>
                            <td>{{producto.ordenDeFabricacion.numOrden}}</td>
                            <td>{{producto.ordenDeFabricacion.totalMP}}</td>
                            <td>{{producto.invIniPenP}}</td>
                            <td>{{producto.ordenDeFabricacion.totalMOD}}</td>
                            <td>{{producto.ordenDeFabricacion.importe}}</td>
                            <td>{{producto.invFinalPenP}}</td>
                            <td>{{producto.costoArtTerminado}}</td>
                            <td>{{producto.invInicialProductTerminado}}</td>
                            <td>{{producto.artTerDisp}}</td>
                            <td>{{producto.invFinalProductTerminado}}</td>
                            <td>{{producto.costoVendido}}</td>
                        </tr>
                    {%endfor%}

                        <tr>
                            <td><h6>Total</h6></td>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>


                    </tbody>
                </table>

                    <br>
                    <br>
                    <h5 class="bold">Costo de lo Vendido vrs. Orden de Fabricación</h5>

                    <div class="divider"></div>
                <p>Costo de lo vendido</p>
                <canvas id="chart1" width="200" height="70"></canvas>
                <script>
                    var ctx = document.getElementById("chart1");
                    var chart1 = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [
                                {% for producto in object_list %}
                                    "{{ producto.ordenDeFabricacion.numOrden}}",
                                {% endfor %}],
                            datasets: [{
                                label: 'Costo',

                                data: [
                                    {% for producto in object_list%}
                                        {{producto.costoVendido}},
                                    {% endfor %}],
                                backgroundColor:'rgba(0, 128, 0, 0.2)',
                                borderColor: 'rgba(0, 128, 0,1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
                <p class="center">Ordenes de fabricación</p>





                <h3>Costos Unitarios</h3>
                <div class="divider"></div>
                <table class="striped centered responsive-table">
                <thead>
                <tr>
                    <th data-field="numero">No orden</th>
                    <th data-field="nombre">Producto</th>
                    <th data-field="CAT">Costo de lo vendido</th>
                    <th data-field="cantidad">Cantidad de Productos</th>
                    <th data-field="CU">Costo Unitario</th>
                </tr>
                </thead>
                <tbody>


                {%for producto in object_list%}
                    <tr>
                        <td>{{producto.ordenDeFabricacion.numOrden}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>${{producto.costoVendido}}</td>
                        <td>{{producto.nuneroArticulos}}</td>
                        <td>${{producto.costoUnitario}}</td>
                    </tr>
                {%endfor%}
                </tbody>
                </table>

                <br>

                <h5>Precio vrs. Producto</h5>

                <div class="divider"></div>
                <p>Costo unitario</p>
                <canvas id="chart2" width="200" height="70"></canvas>
                <script>
                    var ctx = document.getElementById("chart2");
                    var chart2 = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels : [
                                {% for producto in object_list %}
                                    "{{ producto.nombre}}",
                                {% endfor %}],
                            datasets: [{
                                label: 'Costo Unitario',
                                data:  [
                                    {% for producto in object_list%}
                                        {{producto.costoUnitario}},
                                    {% endfor %}],
                                backgroundColor:'rgba(128, 0, 0, 0.2)',
                                borderColor: 'rgba(128,0,0,1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true
                                    }
                                }]
                            }
                        }
                    });
                </script>

                <p class="center">Producto</p>
            {% else %}
                <h5>No hay producción</h5>
            {% endif %}
        </div>
    </main>


{% endblock %}