{% extends "template_home.html" %}

{% block extra_lib %}
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/login.css' %}" media="screen,projection"/>
{% endblock %}

{% block menu %}{% endblock %}

{% block footer %}{% endblock %}
{% block header %}{% endblock %}

{% block contenido %}
    <div id="log">
        <div class="container">
            <div class="row">
                <div class="col s6 ">
                    <div class="form ">
                        <form action="" method="post" > {% csrf_token %}
                            <h3 class="thin"></h3>

                            <div class="row">
                                <h1 class="white-text">Iniciar Sesión</h1>
                                <h5 class="thin white-text">¡Bienvenido! Ingresa tu nombre de usuario y contraseña. </h5>
                                <div class="input-field col s10">
                                    <i class="material-icons prefix white-text">account_circle</i>
                                    {{ form.username }}
                                    <label class="active " for="first_name2" >Nombre</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s10">
                                    <i class="material-icons prefix white-text">lock_outline</i>
                                    {{ form.password }}
                                    <label for="password">Password</label>
                                </div>
                            </div>

                            <div id="BotonEnviar">
                                <br>
                                <button class="btn waves-effect waves-light #00897b teal darken-1 right pull-s5" type="submit" name="action" >Ingresar <i class="material-icons right">send</i>
                                </button>
                                <br>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col s2"></div>
                <div class="col s4">
                    <div id="imagen">
                        <img class="responsive-img" src="{% static 'main/images/LogoSinFondo.png' %}" width="400px">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
