main{
	background-color: white;
	flex: 1 0 auto;

}


video{
	margin: 0;
	width: 50%;
}

#log{
	margin-top: 80px;
}
form{

	margin-left: 30px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
